.profile-page
{

    ion-toolbar
    {
      --background: var(--ion-color-primary);
      padding: 10px 0;
      ion-title
      {
        --color: white;
        font-family: 'Medium';
        font-size: 20px;
      }
  
      ion-buttons
      {
        ion-back-button
        {
          color: white;
        }
      }
    }

    ion-content
    {
      .dp-holder
      {
        position: relative;
       
        ion-avatar
        {
          --border-radius: 50%;
          height: 7rem;
          width: 7rem;
          margin: 0 auto;
        }

        .btn
        {
          background: var(--ion-color-primary);
          border-radius: 50%;
          bottom: -80px;
            height: 40px;
            margin:  auto;
            position: absolute;
            left: 60px;
            right: 0;
            top: 0;
            width: 40px;

            ion-icon
            {
              color: white;
                font-size: 16px;
            }
        }
      }

      .detail-holder
      {
        .detail
        {
          border-bottom: 1px solid rgba(112, 112, 112, 0.35);
          margin: 10px 0;
          padding-bottom: 10px;
          p
          {
            color: #838282;
            font-size: 12px;
            margin: 0;
          }

          h3
          {
            font-size: 16px;
            margin: 5px 0;
          }

          h6
          {
            font-size: 11px;
            margin: 0;
          }
        }
      }
    }

}